/* EL SIGUIENTE COLOR PERTENECE AL AZUL QUE ESTÁ EN EL LOGO
color: #4cbfd5; */

.header-home {
  width: 100%;
  height: 9vh;
  z-index: 999;
  top: 0;
  background-color: #f8f8f8;
  position: fixed;
  box-shadow: 0 0 4px #efefef;
}

.icon-box {
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-decoration: none;
}

.icon-box:hover {
  animation: subir-bajar 1s infinite;
}

@keyframes subir-bajar {
  50% {
    transform: translateY(-10%);
  }
}

.icon-txt {
  margin: 0;
  font-size: 2.2rem;
  font-weight: 800;
  letter-spacing: 0.2px;
  color: black;
}

.logo-header {
  height: 2.6rem;
}

.nav {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-nav {
  width: 28rem;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.box-input-search {
  width: 22rem;
  position: relative;
}

.box-input-search input {
  width: 100%;
  padding: 4px 10px;
  padding-left: 2.4rem;
  border-radius: 16px;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2px;
  border: none;
  background-color: #dcdcdc;
}

.box-input-search input:focus {
  outline: 2px solid #4cbfd5;
  box-shadow: 1px 1px 4px #bdbdbd;
}

.icon-search {
  width: 8%;
  height: 100%;
  padding: 0.35rem;
  left: 0;
  border-radius: 15px 0 0 15px;
  align-self: center;
  position: absolute;
  background-color: #4cbfd5;
}

.links-nav {
  width: 36rem;
  margin: 0;
  padding: 0;
  gap: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link-header {
  padding: 5px 12px;
  font-size: 1rem;
  border-radius: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #4cbfd5;
}

.link-header:hover {
  box-shadow: 1px 1px 3px #bdbdbd;
  background-color: #4cbfd5;
  color: white;
}

.link-header-b{
  box-shadow: 1px 1px 3px #bdbdbd;
  background-color: #4cbfd5;
  color: white;
}

.link-header-b:hover{
  background-color: #239eb7;
  color: white;  
  transition: 0.5s;
}

.logout {
  padding: 5px 12px;
  font-size: 1rem;
  border-radius: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #4cbfd5;
}

.logout:hover {
  box-shadow: 0 0 3px #bdbdbd;
  background-color: #4cbfd5;
  color: white;
}

.link-header-cart {
  margin-left: 1rem;
  padding: 5px 12px;
  font-size: 1.4rem;
  border-radius: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color:  black;
  /* box-shadow: 1px 1px 3px #bdbdbd; */
  background-color: #dcdcdc;
}

.link-header-cart:hover {
  box-shadow: 1px 1px 2px #bdbdbd;
  background-color: #4cbfd5;
  color: white;
  transition: 0.5s;
}

.link-header-cart-b {
  box-shadow: 1px 1px 3px #bdbdbd;
  background-color: #4cbfd5;
  color: white;
}

.link-header-cart-b:hover{
  background-color: #239eb7;
  color: white;  
  transition: 0.5s;
}

/* MEDIA QUERY DEL HEADER */

@media screen and (max-width: 480px) {
  /* .header-home {
    height: 14vh;
    position: relative;
  }

  .filter-nav {
    height: 100%;
  }

  .box-input-search {
    width: 9rem;
    font-size: 0.8rem;
  }

  .box-input-search input {
    width: 9rem;
    padding: 2px 0;
    padding-left: 1.5rem;
  }

  .icon-search {
    width: 12%;
    padding: 0.2rem;
  }

  .icon-box {
    width: 10rem;
  }

  .icon-txt {
    padding-left: 1rem;
    font-size: 1.4rem;
  }
  
  .logo-header {
    height: 2.6rem;
  }
  
  .box-select-category {
    width: 9rem;
    font-size: 0.8rem;
  }
  
  .box-select-category select {
    width: 8rem;
    padding: 2px 6px;
  }
  
  .links-nav {
    gap: 3rem;
  }
  
  .logout {
    padding: 2px 8px;
    font-size: 0.8rem;
  }
  
  .link-header {
    padding: 4px 8px;
    font-size: 0.8rem;
  } */
  
}
