footer{
  height: 10vh;
  width: 100%;
  gap: 60rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #efefef;
}

.box-footer-txt{
  width: 14rem;
}

.box-footer-txt h4{
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.social-media{
  height: 100%;
  display: inline-flex;
}

.social-media .icon{
  margin: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.social-media .icon a{
  height: 40px;
  width: 40px;
  border-radius: 4px;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dcdcdc;
  text-align: center;
  color: black;
}

.react-icon-mail{
  /* margin: 0.3rem; */
  font-size: 1.9rem;
  line-height: 40px;
}

.react-icon-wpp{
  /* margin: 0.4rem; */
  font-size: 1.7rem;
  line-height: 40px;
}

.social-media .icon:hover a{
  border-radius: 50%;
  transition: 0.5s;
  color: white;
}

.social-media .icon .tool{
  top: 0px;
  font-size: 18px;
  padding: 6px 18px;
  border-radius: 25px;
  position: absolute;
  background: white;
  color: white;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.social-media .icon .tool:before{
  height: 15px;
  width: 15px;
  left: 50%;
  bottom: -7px;
  position: absolute;
  content: "";
  background: white;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.social-media .icon:hover .tool{
  opacity: 1;
  top: -72px;
  pointer-events: auto;
}

.social-media .icon:hover a,
.social-media .icon:hover .tool{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.social-media .gmail:hover a,
.social-media .gmail:hover .tool,
.social-media .gmail:hover .tool:before{
  background-color: #e30d31;
}

.social-media .whatsapp:hover a,
.social-media .whatsapp:hover .tool,
.social-media .whatsapp:hover .tool:before{
  background-color: #1bd741;
}


/* MEDIA QUERY DEL FOOTER */

@media screen and (max-width: 480px){
  footer{
    height: 8vh;
    gap: 6rem;
  }
  
  .box-footer-txt{
    width: 10rem;
  }
  
  .box-footer-txt h4{
    font-size: 0.8rem;
  }

  .social-media{
    display: inline-flex;
  }

  .social-media .icon{
    margin: 10px 12px;
  }
  
  .social-media .icon a{
    height: 30px;
    width: 30px;
  }

  .react-icon-mail{
    margin: 0.25rem;
    font-size: 1.4rem;
  }
  
  .react-icon-wpp{
    margin: 0.3rem;
    font-size: 1.3rem;
    line-height: 40px;
  }

  .social-media .icon .tool{
    top: 0px;
    font-size: 0.8rem;
    padding: 6px 12px;
  }

.social-media .icon .tool:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: white;
  left: 50%;
  bottom: -7px;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}



}