.container-contactus{
  height: 100vh;
}

.title-contact{
  font-size: 2.2rem;
  font-weight: 700;
  border-bottom: 3px solid #b1e7f0;
}

.input-contact:focus{
  outline-style: auto;
  outline-color: #7bd6e5;
}

.btn-send{
  background-color: #4cbfd5;
}

.btn-send:hover{
  background-color: #7bd6e5;
}

/* Media Queryes  */

@media screen and (max-width: 768px) {

  .container-contactus {
    margin-left: 30%;
  }

  .title-contact {
    font-size: 39px;
    letter-spacing: 1px;
  }

  .form-contact {
    width: 70vw;
  }

  .label-contact {
    font-size: 20px;
    padding-bottom: 5px;
  }

  .input-contact {
    height: 7vh;
    font-size: 18px;
  }

  .textarea-contact {
    font-size: 18px;
  }

  .button-contact {
    width: 21vh;
    height: 6vh;
    font-size: 23px;
  }

}

@media screen and (max-width: 600px) {

  .container-contactus {
    margin-top: 10%;
    margin-bottom: 12%;
    margin-left: 53%;
  }

  .form-contact {
    width: 65vw;
  }

  .button-contact {
    width: 18vh;
    height: 7vh;
    font-size: 19px;
  }

}

@media screen and (max-width: 480px) {

  .container-contactus {
    margin-left: 2%;
  }

  .title-contact {
    font-size: 25px;
    letter-spacing: 1px;
  }

  .form-contact {
    width: 75vw;
  }

  .label-contact {
    font-size: 15px;
    padding-bottom: 3px;
  }

  .input-contact {
    height: 5vh;
    font-size: 13px;
  }

  .textarea-contact {
    font-size: 13px;
  }

  .button-contact {
    width: 10vh;
    height: 6vh;
    font-size: 14px;
  }

}