    /* .container-create-store{
    margin-top: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-create-store{
    width: 75%;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 6px;
}

.box-title-store{
    padding: 6px 8px;
    width: 100%;
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: whitesmoke;
}

.title-create-store{
    margin: 0;
    font-size: 1.2rem;
    font-weight: 800;
    text-align: center;
}

.body-create-store{
    padding: 10px 8px;
}

.btn-update-store{
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 8px 6px;
    background-color: seagreen;
    color: black;
}

.btn-cancel-store{
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 8px 6px;
    background-color: rgb(230, 78, 78);
    color: black;
} */