.container-create-shop{
  padding-top: 8rem;
  height: 100vh;
}

.form-create-shop{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-create-store {
  margin: 0;
  width: 100%;
  font-size: 2.2rem;
  font-weight: 800;
}

.select-img-store {
  padding: 0.2rem 0.8rem;
  font-weight: 600;
  border-radius: 4px;
  background-color: #c1e1f6;
  cursor: pointer;
}

.result-select-img {
  padding: 0.2rem;
  margin: 0;
  border-radius: 0px 4px 4px 0px;
  border: 2px solid #c1e1f6;
}

.btn-update-store {
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
  background-color: #1775b2;
}

.btn-update-store:hover {
  background-color: #c1e1f6;
  color: white;
  box-shadow: 1px 1px 2px;
}

.btn-cancel-store {
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
  background-color: #d70000;
}

.btn-cancel-store:hover {
  background-color: #ffc8c8;
  color: white;
  box-shadow: 1px 1px 2px;
}

.btn-new-store {
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
  background-color: #c1e1f6;
}

.btn-new-store:hover {
  background-color: white;
  color: #2493d3;
  box-shadow: 1px 1px 2px;
}

.table-titles {
  text-align: center;
  border: 1px solid #dcdcdc;
}

.table-body {
  text-align: center;
  border: 1px solid #dcdcdc;
}

.btn-edit-store {
  padding: 6px 8px;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  background-color: #c1e1f6;
}

.btn-edit-store:hover{
    color: white;
    background-color: #e3f0fb;
}

.btn-delete-store {
  padding: 6px 8px;
  font-weight: 600;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  background-color: #d70000;
}

.btn-delete-store:hover{
  background-color: #ffc8c8;
  color: white;
}

.btn-link-store{
  padding: 6px 8px;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  background-color: #4cade4;
}

.btn-link-store:hover{
  background-color: #c1e1f6;
  color: white;
}

.btn-delivery-store{
    padding: 6px 8px;
    border-radius: 4px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    background-color: #1775b2;
}

.btn-delivery-store:hover{
    color: white;
    background-color: #4cade4;
}

/* Media Query de 1200px  */

@media screen and (max-width: 1200px) {

}


/* Media Query de 992px  */

@media screen and (max-width: 992px) {
  
}


/* Media Query de 768px  */

@media screen and (max-width: 768px) {
  
}


/* Media Query de 480px  */

@media screen and (max-width: 480px) {
  
}