html{
  height: 100%;
}

body{
  height: 100%;
}

#root{
  height: 100%;
}

.input-login:focus{
  outline-style: auto;
  outline-color: #7bd6e5;
}

.link-new-password{
  color: #4cbfd5;
}

.link-new-password:hover{
  color: #7bd6e5;
}

.btn-login{
  background-color: #4cbfd5;
}

.btn-login:hover{
  background-color: #7bd6e5;
}

.btn-home-login{
  background-color: #bdbdbd;
}

.btn-home-login:hover{
  background-color: #dcdcdc;
}

.link-new-account{
  color: #4cbfd5;
}

.link-new-account:hover{
  color: #7bd6e5;
}

/* Media Query's Login  */
@media only screen and (min-width: 1200px) {
  
  .general {
    width: 100%;
  }

  .image {

  }

  .title {

  }

  .formulary {

  }

  .gmail {

  }

  .input-gmail {

  }

  .general-password {

  }

  .password {

  }

  .forgot {

  }

  .iniciar-sesion {

  }

  .inicio {

  }

  .question {
    
  }

}
