html{
  height: 100%;
}

body{
  height: 100%;
}

#root{
  height: 100%;
}

.input-register:focus{
  outline-style: auto;
  outline-color: #7bd6e5;
}

.btn-register{
  background-color: #4cbfd5;
}

.btn-register:hover{
  background-color: #7bd6e5;
}

.btn-home-register{
  background-color: #bdbdbd;
}

.btn-home-register:hover{
  background-color: #dcdcdc;
}

@media screen and (max-width: 1200px) {
 }

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {

  .general-register {
    width: 57vw;
  }

  .title-register {
    font-size: 25px;
  }

  .label-register {
    font-size: 16px;
    color: rgb(70, 67, 67);
  }

}

@media screen and (max-width: 600px) {

  .general-register {
    width: 60vw;
  }

  .general2-register {
    width: 51vw;
  }

  .title-register {
    font-size: 22px;
  }

  .label-register {
    font-size: 14px;
    color: rgb(70, 67, 67);
  }


}

@media screen and (max-width: 480px) {

  .general-register {
    width: 60vw;
  }

  .image-register {
    height: 11vh;
  }

  .general2-register {
    width: 52vw;
  }

  .title-register {
    font-size: 19px;
  }

  .label-register {
    font-size: 12px;
    color: rgb(70, 67, 67);
  }

  .input-register {
    height: 4vh;
    font-size: 13px;
  }

  .input-rol {
    font-size: 13px;
  }


}