html{
  height: 100%;
}

body{
  height: 100%;
}

#root{
  height: 100%;
}

.btn-register{
  background-color: #4cbfd5;
}

.btn-register:hover{
  background-color: #7bd6e5;
}

.btn-home-register{
  background-color: #bdbdbd;
}

.btn-home-register:hover{
  background-color: #dcdcdc;
}

@media screen and (max-width: 1200px) {
 }

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
 }